.calculator {
  margin: 50px auto;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  width: 200px;
  background-color:#0005;
  color:blue
}

button {
  padding: 10px 20px;
  background-color: goldenrod;
  color: red;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: yellowgreen;
}